@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 991px) {
    header .logo {
        @apply ml-6;
    }
    header .hamburger > div {
        transition: transform .5s, opacity .5s;
        @apply my-2.5 bg-primary h-1 w-6 absolute left-2 rounded-xl;
    }
    header .hamburger .top-line {
        @apply top-4;
    }
    header .hamburger .top-line.active {
        transform: translateY(8px) rotate(45deg);
    }
    header .hamburger .center-line {
        @apply top-6;
    }
    header .hamburger .bottom-line {
        @apply top-8;
    }
    header .hamburger .bottom-line.active {
        transform: translateY(-8px) rotate(-45deg);
    }

    header .pc-profile {
        @apply hidden;
    }
    header .auth-btn {
        @apply px-4;
    }
}

@media (max-width: 991px) {
    header .nav-menu {
        display: none !important;
    }
    .side-nav {
        @apply bg-white fixed top-16 left-0 w-52 h-full z-10;
        transition: transform .7s, opacity 1s;
        border-right: solid 1px #9e9ea6;
    }
    header ul {
        @apply block font-semibold text-gray-600 px-4 mt-4 overflow-hidden;
    }
    header ul li {
        border-bottom: solid 1px #9e9ea6;
        @apply mb-5 w-full;
    }
    header .auth-nav {
        @apply mr-2 gap-3;
    }
    .home-menu .best-seller {
        @apply grid-cols-1;
    }
    .menu .menu-list {
        @apply grid-cols-2;
    }
    .menu .menu-list button {
        @apply text-sm gap-2 px-0 py-2;
    }
}

@media (min-width: 991px) {
    header .mb-profile {
        @apply hidden;
    }
}

section.hero{
    @apply block md:grid;
    grid-template-columns: .4fr .6fr;
}

select,
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"] {
    @apply block w-full mb-3 rounded-xl;
    @apply border p-2 border-gray-300 bg-gray-100;
}
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled {
    @apply bg-gray-300 border-0 cursor-not-allowed text-gray-500;
}
label{
    @apply text-gray-500 text-sm;
}

button, .button{
    @apply flex w-full justify-center gap-2 text-gray-700 font-semibold;
    @apply border border-gray-300 rounded-xl px-6 py-2;
}
button[type="submit"], .submit, button.primary{
    @apply border-primary bg-primary text-white;
}
button[type="submit"]:disabled, .submit{
    @apply cursor-not-allowed bg-red-400;
}
div.tabs > * {
    @apply bg-gray-300 text-gray-700 rounded-full px-4 py-2;
}
div.tabs > *.active {
    @apply bg-primary text-white;
}
.flying-button-parent button{
    @apply border-primary bg-primary text-white rounded-full;
}
